.navbar{

    font-family: "Poppins", sans-serif;
    position: fixed;
    width: 100%;

    .navbar-brand{
        img{
            height: 24px;
        }
    }
    
    .navbar-collapse{
        justify-content: space-around;
    }

    .navbar-nav{
        column-gap: 30px;
    }
}