@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #691DB0;
    --highlight: #5A1997;
    --carbon-black: #333;
    --white: #fff;
    --gray: #eee;
    --dark-gray: #bbb;
    --tagline: #959595;
    --bg-purple-lilac: #F8F1FA;
}

.btn {
    text-decoration: none;
    background: var(--primary);
    padding: 10px 25px;
    border-radius: 4px;
    color: var(--white);

    &:hover{
        background: var(--highlight);
        color: var(--white);
    }
}

.text-highlight{
    color: var(--primary);
}

.tagline{
    color: var(--tagline);
    font-size: 16px ;
}